.about-section {
  height: 100%;
  margin-bottom: 150px;
  // overflow: hidden;

  span {
    color: #8dcbe6;
    font-size: 30px;
  }
}

.about-content {
  display: flex;
  align-items: center; 
  gap: 20px; 
  padding: 20px;
  flex-wrap: wrap; 
}

.about-profile-photo {
  flex-shrink: 0; 
}

.about-photo {
  width: 300px; 
  height: 300px; 
  border-radius: 50%;
  object-fit: cover; 
  border: 2.5px solid #8dcbe6;
}

.about-text {
  flex: 1; 
  font-size: 16px; 
  line-height: 1.5;
}


.hobby-section {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  p {
    display: inline;
    width: 100%;
  }
}

.hobby-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  img {
    width: 40px;
    height: 40px;
  }
}

.currents-embeds {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: -30px;

  .current-read {
    margin-left: 15px;
    img {
      width: 100px;
      border-radius: 12px;
    }
  }

  .current-location {
    margin-left: 15px;

    iframe {
      border-radius: 12px;
    }
  }
}

.resume-section {
  .resume-link {
    background-color: #8dcbe6;
    color: #000000;
    padding: 4px 10px;

    &:hover {
      opacity: 0.6;
    }
  }
}

@media only screen and (max-width: 768px) {
  .about-section {
    h1 {
      font-size: 40px;
    }
    span {
      font-size: 18px;
    }
  }
  .hobby-section {
    display: block;
    p {
      font-size: 16px;
      width: 100%;
      display: block;
    }
  }

  .hobby-items {
    img {
      width: 30px;
      height: 30px;
    }
  }
}
