.blog-section {
  height: 100%;
  margin-top: 0;
  overflow: hidden;

  p {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .blog-section {
    margin-top: 50px;

    h1 {
      font-size: 40px;
    }
  }
}

@media only screen and (min-width: 760px) and (max-width: 900px) {
  .blog-section {
    margin-top: 150px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1000px) {
  .blog-section {
    margin-top: 300px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1100px) {
  .blog-section {
    margin-top: 200px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1250px) {
  .blog-section {
    margin-top: 120px;
  }
}
