.footer-section {
  background-color: #8dcbe6;
  color: #000000;
  //   position: absolute;
  //   left: 0;
  //   bottom: 0;
  text-align: center;
  font-size: 14px;
  width: 100vw;
  padding: 15px;
  margin-left: calc((-100vw + 100%) / 2);
  margin-right: calc((-100vw + 100%) / 2);
  margin-bottom: -100px;

  p {
    font-weight: bold;
  }

  .attributes {
    margin-bottom: 20px;

    a {
      color: #000000;
      font-size: 12px;
      color: #202020;
    }
  }
}
