.gallery-section {
  height: 100%;
  margin-bottom: 150px;
  overflow-x: hidden;
}

.photos-section {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  border: solid #8dcbe6 2px;
}
.photo-item img {
  width: 380px;
  height: 480px;
}

@media only screen and (max-width: 768px) {
  .gallery-section {
    h1 {
      font-size: 40px;
    }
  }

  .photos-section {
    border: none;
  }
}
