h1 {
  display: inline;
  font-size: 42px;
}

.home-container {
  margin-top: 20vh;
  display: flex;
  justify-content: center; 
  height: 70vh;
}

.home-intro {
  text-align: center;
  position: relative;
}

.role-intro h4 {
  font-size: 40px;
}

@media only screen and (max-width: 768px) {
  .role-intro h4 {
    font-size: 33px;
  }

  label {
    font-size: 14px;
  }

  .astronaut-selector {
    #astronaut-dropdown {
      font-size: 14px;
    }
  }

}


