h1 {
  display: inline;
  font-size: 42px;
}

.home-container {
  margin-top: 20vh;
  display: flex;
  justify-content: center; 
  height: 70vh;
}

.home-intro {
  text-align: center;
  position: relative;
}

.role-intro h4 {
  font-size: 40px;
}

.astronaut-selector {
  z-index: 1;
  margin-top: 100px;

  label {
    margin-right: 10px;
    color: #8dcbe6;
  }

  #astronaut-dropdown {
    background-color: #2d2d2d; 
    color: #ffffff; 
    border: 1px solid #555; 
    border-radius: 5px; 
    padding: 5px;
    font-size: 16px;
  }
  
  #astronaut-dropdown option {
    background-color: #333;
    color: #ffffff;
  }
  
  #astronaut-dropdown option:hover {
    background-color: #555; 
  }
  
  #astronaut-dropdown:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }

}

@media only screen and (max-width: 768px) {
  .role-intro h4 {
    font-size: 33px;
  }

  label {
    font-size: 14px;
  }

  .astronaut-selector {
    #astronaut-dropdown {
      font-size: 14px;
    }
  }

}

// animation

@keyframes fly {
  0% {
    transform: translate(0, 110vh);
  }
  33% {
    transform: translate(55vw, 0vh);
  }
  66% {
    transform: translate(110vw, 55vh);
  }
  100% {
    transform: translate(0, 110vh);
  }
}

.astronaut {
  animation: fly 50s linear infinite;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
  pointer-events: none;
  width: 128px;

  img {
    width: 40%;
  }
}
