.projects-section {
  height: 100%;
  margin-bottom: 150px;
}

.projects-main {
  .project-item {
    display: grid;
    grid-template-columns: 0.3fr 1.8fr;

    p {
      width: 100%;
    }

    p:first-of-type {
      color: #8dcbe6;
    }
  }

  .projects-list {
    margin-left: -30px;
  }
}

.projects-fun-items {
  display: flex;
  flex-wrap: wrap;
  // margin-bottom: 10px;

  a {
    color: #101010;
    margin-right: 20px;
    padding: 4px;
    text-align: center;
    background-color: #8dcbe6;
    font-weight: bolder;
    margin: 5px;

    &:hover {
      opacity: 0.6;
    }
  }
}

.projects-fun-intro {
  display: flex;

  h3 {
    margin-right: 20px;
    color: #d49813;
  }
  p {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .projects-section {
    h1 {
      font-size: 40px;
    }
  }

  .projects-main {
    display: block;

    .project-item {
      display: block;

      p {
        width: 100%;
      }
    }
  }

  .projects-fun-items {
    justify-content: center;
  }
}


.play-space-invaders {
  margin: 0 auto;
}