.project-card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 540px;
  max-width: 100%;
  z-index: 100;

  .project-card-content {

    .links {
      margin-top: 10px;

      a {
        display: block;
        color: #133E87;
        text-decoration: none;
        margin: 5px 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .close-button {
    background-color: #feda4a;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #8dcbe6;
    }
  }
}

.project-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.project-hr {
  display: block;
  width: 100%;
  border-top: 1.5px solid #000000;
  margin-top: -18px;
  margin-bottom: 15px;
}

.project-card-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 768px) {
  .project-card {
    width: 75%;
  }
}