.resume-section {
  position: relative;
}

.download-section {
  display: flex;
  flex-wrap: wrap;

  a {
    color: #000000;
    background-color: #8dcbe6;
    font-weight: bolder;
    padding: 4px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .resume-section {
    h1 {
      font-size: 40px;
    }
  }
}

@media only screen and (max-width: 840px) {
  .resume-section {
    .resume-embed {
      width: 540px;
    }
  }
}
