@font-face {
  font-family: "StarWarsFont";
  src: url("../public/fonts/SfDistantGalaxy.ttf") format("truetype");
}

.App {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.cursive {
  font-family: "Sacramento", cursive;
  font-size: 64px;
  color: #d49813;
}

a {
  color: #8dcbe6;
  text-decoration: none;
}

.home {
  background-image: url("../src/assets/background.png");
  margin-left: calc((-100vw + 100%) / 2);
  margin-right: calc((-100vw + 100%) / 2);
  margin-top: -40px;
  padding: 4% 34%;
}

.star-wars {
  font-family: "StarWarsFont", serif;
  margin: 0 auto;
  color: #d49813;
  display: flex;
  justify-content: center;
}